.header__link {
  margin: 0 0 46px;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  transition: opacity 0.2s linear;
}

.header__link:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 476px) {
  .header__link {
    margin-right: 30px;
    margin-bottom: 33px;
    font-size: 14px;
    line-height: 17px;
  }
}
