.header__link {
  margin: 0 0 46px;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  transition: opacity 0.2s linear;
}

.header__link:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (min-width: 1280px) {
  .header__link {
    margin-right: 0;
    font-size: 18px;
    line-height: 22px;
  }
}
