.header__text {
  margin: 0 24px 46px 0;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

@media screen and (max-width: 476px) {
  .header__text {
    margin-right: 0;
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 321px) {
  .header__text {
    margin: 0 0 18px 0;
  }
}
