.profile__add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 150px;
  height: 50px;
  border: 2px solid rgba(255, 255, 255, 1);
  background-color: #000000;
  margin-left: auto;
  transition: 0.5s;
  border-radius: 2px;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 881px) {
  .profile__add-button {
    width: 100px;
  }
}

@media screen and (max-width: 576px) {
  .profile__add-button {
    width: 282px;
    margin-top: 34px;
  }
}